@model ASM.Models.User_Account
@{
    ViewBag.Title = "Login";
}
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="~/Website/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    </head>
    <body>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "login-form" }))
        {
            <h1>Login</h1>
            <div class="txtb">
                @Html.TextBoxFor(a => a.UserName)
                <span data-placeholder="Username"></span>
            </div>
            <p style="color: red">@Html.ValidationMessageFor(a => a.UserName)</p>
            <div class="txtb">
                @Html.PasswordFor(a => a.Password)
                <span data-placeholder="Password"></span>
            </div>
            <p style="color: red">@Html.ValidationMessageFor(a => a.Password)</p>
            <br>
            <input type="submit" class="logbtn" value="Login">

          
        }
    </body>
</html>




